extends layout

block breadcrumb
	Manage Admins

block nav
	li
		a(href="../") Return to site
	li(role="separator", class="divider")
	
	li
		a(href="games") Manage Games
	li.active
		a(href="admins") Manage Admins
	li 
		a(href="settings") Settings

block content
	div.page-header
		h3 Administrator List
	table.table.table-striped
		tr
				th ID
				th Username
				th Auth Level
				-if(user && user.priv > 20)
					th Edit
				-if(user && user.priv > 20)
					th Del
		each admin, i in data
			tr
				td= admin._id
				td= admin.username
				td= admin.priv
				-if(user && user.priv > 20)
					th Edit
				-if(user && user.priv > 20)
					th Del
	style.
		th {
			border-top: 0!important;
		}