doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title= title
		link(rel='stylesheet', href='../static/css/bootstrap.min.css')
	body
		nav.navbar.navbar-static-top.navbar-default
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/') Untitled Project
				#navbar.collapse.navbar-collapse
					ul.nav.navbar-nav
						li.active
							a(href='#') Home
						li
							a(href='#about') About
						li
							a(href='#contact') Contact
		.container
			ol.breadcrumb
				li
					a(href="../") Site
				li
					a(href="/manage") Manage
				li.active
					block breadcrumb
			.row
				.col-md-2#sidebar
						ul.nav.nav-pills.nav-stacked
							block nav
				.col-md-8
					block content
		script(src="../static/js/bootstrap.min.js")
		style.
			#sidebar {
				margin-top: 100px;
			}