ul.nav.nav-pills.nav-stacked.text-center
	li(role="presentation", class=(activePage == "overview") ? "active" : "")
		a(href='/manage/') Overview
	li(role="presentation", class=(activePage == "users") ? "active" : "")
		a(href='/manage/users') Users