extends ../layout

block content
	.row
		.col-md-4
		.col-md-4
			form(action="/register", method="post").form-signin
				h2.form-signin-heading.text-center Register
				-if(typeof err !== 'undefined')
					blockquote.has-error
						p.text-center.err= err.message
				.form-group(class=((typeof err !== 'undefined' && (err.field === 'username' || err.field === 'both')) ? 'has-error' : ''))
					label.sr-only(for='username') Username
					input#username.form-control(type='text', placeholder='Username', required, autofocus, name="username")
				.form-group(class=((typeof err !== 'undefined' && (err.field === 'password' || err.field === 'both')) ? 'has-error' : ''))
					label.sr-only(for='password') Password
					input#password.form-control(type='password', placeholder='Password', required, name="password")
				.form-group
					button.btn.btn-lg.btn-primary.btn-block(type='submit') Register
		.col-md-4